files/app/.git
waypoint-restore.db.lock
data.db
.kube
gogs.db
files/app/Debug
.vscode

files/app/obj

files/app/hooks
files/app/info
files/app/refs
files/app/objects
files/app/config
files/app/description
files/app/HEAD
